---
import Layout from "../layouts/Layout.astro";
import QR from "../components/QR.jsx";

---

<!doctype html>
<html lang="en" data-theme="dark">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- FAVICONS -->
  <link rel="apple-touch-icon" sizes="180x180"
      href="/favicons/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32"
      href="/favicons/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16"
      href="/favicons" />
  <link rel="manifest" href="/favicons/site.webmanifest" />
  <link rel="mask-icon" href="/favicons/safari-pinned-tab.svg"
      color="#00c458" />

  <!-- HTML Meta Tags -->
  <title>aksell.dev - QR</title>
  <meta name="description" content="Aksell QR-kode generator">

  <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://aksell.dev/qr">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Aksell.dev - QR">
  <meta property="og:description" content="Aksell QR-kode generator">
  <meta property="og:image" content="/og-image.jpg">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="aksell.dev">
  <meta property="twitter:url" content="https://aksell.dev/qr">
  <meta name="twitter:title" content="Aksell.dev - QR">
  <meta name="twitter:description" content="Aksell QR-kode generator">
  <meta name="twitter:image" content="/og-image.jpg">
</head>

<body>
    <style is:inline>
        * {
  box-sizing: border-box;
}
:root {
  --primary: #00e869 !important;
  --primary-hover: #09c95f !important;
  --primary-inverse: #000 !important;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-attachment: fixed;
  --pico-form-element-focus-color: var(--primary) !important;
  --pico-primary-background: var(--primary) !important;
}
html {
  background: linear-gradient(57deg, #353334 0%, rgba(0, 0, 0, 1) 88%);
  color: #fff;
}
[data-theme='light'] {
  background: linear-gradient(57deg, #d6d6d6 0%, rgb(255, 255, 255) 88%);
  color: #000;
}
html {
  font-size: 18px;
}

body {
  font-size: 1rem;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
}
html {
    block-size: 100%;
}
body {
    min-height: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
label {
  display: flex;
  flex-direction: column;
  text-align: left;
}
#qr-code {
  margin-bottom: 2rem;
}
input {
  padding: 0.5rem 1rem;
  display: block;
}
button {
  position: relative;
  width: max-content;
  padding: 1rem 1.5rem;
  text-decoration: none;
  color: #000;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 0.25rem;
  display: block;
  cursor: pointer;
  border: 0;
  width: 100%;
  user-select: none;
}
button:hover,
button:focus {
  text-decoration: underline;
}

.qr {
  margin: auto;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border: 5px solid rgba(150, 150, 150, 0.3);
  display: grid;
  width: max-content;
}
.qr svg {
  aspect-ratio: 1 / 1;

}
.input-wrapper {
  display: flex;
  align-items: center;
  height: max-content;
  position: relative;
}
.input-wrapper input {
  padding-right: 3rem;
}
label {
  margin-bottom: var(--spacing);
}
label input {
  margin-bottom: 0 !important;
}
.filename .input-wrapper::after {
  content: '.svg';
  position: absolute;
  padding: var(--form-element-spacing-vertical)
    var(--form-element-spacing-horizontal);
  height: calc(
    1rem * var(--line-height) + var(--form-element-spacing-vertical) * 2 +
      var(--border-width) * 2
  );
  right: 1em;
  opacity: 0.4;
  pointer-events: none;
}
/* .filename:focus-within .input-wrapper::after {
  color: var(--primary);
  opacity: 1;
} */
label > input {
  margin-top: 0 !important;
}

.dl--disabled button {
  pointer-events: none;
}
.dl--disabled {
  filter: saturate(0);
  opacity: 0.5;
  cursor: not-allowed;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.page {
  display: grid;
  grid-template-columns: max-content max-content  max-content;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin: auto;
}
@media (max-width: 1200px) {
    .page {
        grid-template-columns: max-content;
    }
}
fieldset {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.colorpickers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.color-picker-row {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.color-picker-row input {
  width: 150px;
}

.color-picker-row .react-colorful {
  width: 150px;
  height: 150px;
}
.contrast-row {
  height: max-content;
  padding: 0.5rem;
  grid-column: 1 / span 2;
}

@media (max-width: 1200px) {
  .page {
    flex-direction: column;
  }
  .qr {
    grid-row:3;
  }
}
button {
  display: flex;
  justify-content: space-between;
}
.ui-row {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
input:valid.validize {
  border-color: var(--primary);
}

.contrast {
  font-weight: bold;
}
.contrast--bad {
  color: red;
}

.contrast--ok {
  color: orange;
}

.contrast--good {
  color: greenyellow;
}

[data-theme='light'] .contrast--bad {
  color: rgb(152, 10, 10);
}

[data-theme='light'] .contrast--ok {
  color: rgb(206, 143, 28);
}

[data-theme='light'] .contrast--good {
  color: rgb(113, 172, 18);
}

.theme-changer {
  position: fixed;
  left: 1.5rem;
  bottom: 1rem;
  color: #fff;
}

.theme-changer .react-toggle-track-x,
.theme-changer .react-toggle-track-check {
  display: flex;
  align-items: center;
}

[data-theme='light'] .react-toggle-track {
  background-color: #ededed;
  color: #000;
}

[data-theme='light'] .theme-changer:hover .react-toggle-track {
  background-color: #fff;
}

[data-theme='light'] .theme-changer .react-toggle-track-x {
  color: #888;
}
[data-theme='dark'] .react-toggle-track {
  background-color: #8c8c8c;
  color: #000000;
}

[data-theme='dark'] .theme-changer:hover .react-toggle-track {
  background-color: #787878;
}
.theme-changer .react-toggle-track-x svg {
  transform-origin: center right;
}
.theme-changer .react-toggle-track-x svg {
  transform-origin: center left;
}
.theme-changer .react-toggle-track-x svg,
.theme-changer .react-toggle-track-check svg {
  transform: scale(1.25);
}
.react-toggle-track-x,
.react-toggle-track-check {
  width: 1.5rem;
  height: 1.5rem;
}
.react-toggle-track-x {
  right: 0;
}
.react-toggle-track {
  width: 3.25rem;
  height: 1.5rem;
}

.react-toggle-thumb {
  height: 1.5rem;
  width: 1.5rem;
}
.react-toggle--checked .react-toggle-thumb {
  left: 1.75rem;
}

[data-theme='dark'] .toast {
  border-radius: 10px !important;
  background-color: #333 !important;
  color: #fff !important;
}
fieldset {
    max-width: 400px;
}
    </style>
    <QR client:only/>
</body>

</html>